body {
  background-color: #becba4;
}

.sale:hover {
  background-color: #becba4;
  color: #5f442a;
}

.form-btn:hover {
  color: #5f442a;
  background-color: #becba4;
}

/* table */
table,
th,
td {
  padding: 20px;
  border: 1px solid;
}

.container-table {
  border-bottom-right-radius: 10px;
  border-top: solid 4px var(--border);
  background-color: var(--boxes);
  height: 100px;
  margin: 0 auto;
  padding: 0 auto;
  max-width: 1100px;
}
